include ../mixins/formInput.pug

//- Backward-compatible wrappers for account forms
//- These maintain the existing API while using the unified base mixin

mixin inputLabel(labelText, name)
	.flex.flex-col.gap-2
		label.input-label(for=name)= labelText
			if errors && errors.has(name)
				span(class="font-extrabold text-red-400")= ` ${errors.get(name)}`
		block

mixin textInput(labelText, name, value)
	+formInput({
		label: labelText,
		name: name,
		value: value,
		errors: typeof errors !== 'undefined' ? errors : null
	})&attributes(attributes)

mixin passwordInput(labelText, name)
	+formInput({
		type: 'password',
		label: labelText,
		name: name,
		errors: typeof errors !== 'undefined' ? errors : null
	})&attributes(attributes)
