include ../header.pug
include ./field.pug

doctype html
html
	+headTag("Reset Password")

	body.bg-white.text-gray-800
		+pageHeader(false, "Reset Password")
		section.bg-gray-100.py-4
			div.mx-auto.text-center.px-4(class="max-w-1/3")

				h2.font-bold Reset code was invalid or expired.
				a.link(
					hx-on:click="document.getElementById('dialog').classList.toggle('hidden', false)"
					hx-get="/dialog/forgot-password"
					hx-target="#dialogContent") Click here to request a new reset code.

		.hidden.fixed.inset-0.flex.items-center.justify-center.z-50(hx-on:click="document.getElementById('dialog').classList.toggle('hidden', true)")#dialog
			// The modal box
			.w-lg.relative.bg-gray-300.rounded-lg.shadow-lg.p-6(hx-on:click="event.stopPropagation()")
				// Close button absolutely positioned inside the modal
				a.link.absolute.top-2.right-2(hx-on:click="document.getElementById('dialog').classList.toggle('hidden', true)") &times;
				.w-full.flex.flex-col.items-center.gap-2
					#dialogContent
