include ./field.pug

#accountSettings
	h2(class="text-xl sm:text-2xl font-bold mb-4") Edit Account
	form(hx-patch="/account" hx-target="#accountSettings" hx-swap="outerHTML")
		.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")
			+textInput("Member Name", "display_name", viewer.display_name)
			+textInput("Email", "email", viewer.contact_email)(disabled="disabled")
			+passwordInput("Current Password", "current_password")
			+passwordInput("New Password", "password")
			+passwordInput("Confirm New Password", "password_confirm")
		button.mt-4.primary(type="submit") Update
