include ./field.pug
include ../mixins/loadingSpinner.pug
include ../mixins/errorMessage.pug

#signup.w-full.flex.flex-col.items-center.gap-2
	h2(class="text-xl sm:text-2xl font-bold mb-4") Sign Up
	form.contents(hx-post="/auth/signup" hx-target="#signup" hx-swap="outerHTML")
		+textInput("Member Name", "display_name", viewer.display_name)
		+textInput("Email", "email", viewer.contact_email)
		+passwordInput("Password", "password")
		+passwordInput("Confirm Password", "password_confirm")
		button.primary(type="submit" hx-disabled-elt="this")
			span Sign Up
			+loadingSpinner()
	span#signupError.text-red-600.font-semibold.text-sm(role="alert" aria-live="polite")= errors.get("form")
