p= `Hi ${display_name}`

- const url = `https://${domain}/set-password?code=${code}`
p We've created an account for you on our BAP management site. To finish setting up your account you must choose a password.
p
	| Click or copy this link into your browser&nbsp;
	a(href=url)= url
	|  to choose a new password and confirm your account.
