//- Trophy icon mixin for displaying specialty award achievements
//- Expects trophyData object with { icon, tooltip } or null

mixin trophy(trophyData)
	if trophyData
		span.inline-block.ml-1.cursor-help(
			title=trophyData.tooltip
			aria-label=trophyData.tooltip
			role="img"
			aria-hidden="false"
		)= trophyData.icon
