doctype html
html
	head
		title= title
		script(src='https://unpkg.com/htmx.org@2.0.4')
		link(rel='stylesheet', href='/index.css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.4.1/css/tom-select.bootstrap4.min.css")

	body.flex.flex-col.justify-center.items-center
		h2.text-2xl.p-2 New BAP Submission
		include bapForm/form.pug
