mixin headTag(title)
	head
		title= title
		script(src='https://unpkg.com/htmx.org@2.0.4')
		link(rel='stylesheet', href='/index.css')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block

mixin pageHeader(loggedIn, title, subtitle)
	header.bg-white.shadow
		div.max-w-7xl.mx-auto.px-4.py-4.flex.justify-between.items-center
			.flex.text-center.gap-2
				h2.text-2xl.font-bold.p2= title
				h3.text-2xl.p2(class="text-gray-500")= subtitle
			.space-x-4
				a.link(href="/") Home
				if loggedIn
					a.link(href="/me") Me
					a.link(href="/account") ⚙️

mixin footer()
	footer.bg-gray-300.py-6.text-center.text-sm.text-gray-500
		.flex.flex-col.text-center
			a.link(href="https://basny.org")
				span(class="text-2xl") Brooklyn Aquarium Society
			span(class="text-base") Educating Aquarists since 1911

mixin dialog()
	.fixed.inset-0.flex.items-center.justify-center.p-4.z-50(hx-on:click="document.getElementById('dialog').remove()")#dialog
		// The modal box
		.w-lg.relative.inset-4.shadow-lg.bg-gray-200.rounded-lg(hx-on:click="event.stopPropagation()")
			// Close button absolutely positioned inside the modal
			a.link.absolute.top-2.right-4.font-bold(hx-on:click="document.getElementById('dialog').remove()") &times;
			.w-full.flex.flex-col.items-center.gap-2.p-6#dialogContent
				block

mixin sidebar()
	.fixed.top-0.right-0.w-80.h-screen.shadow-lg.bg-gray-200.overflow-y-auto#sidebar.p-2
		// Close button absolutely positioned inside the sidebar
		.w-full.relative
			a.link.absolute.top-0.right-0.font-bold(hx-on:click="document.getElementById('sidebar').remove()") &times;
			.w-full.flex.flex-col.items-center.gap-2.p-2#sidebarContent
				block
