include header.pug
include admin/queueButton.pug

doctype html
html
	+headTag

	body.bg-white.text-gray-800
		+pageHeader(isLoggedIn, message)

		section.bg-gray-100.py-6
			div.max-w-4xl.mx-auto.flex.flex-col.text-center.items-center.px-4
				h2(class="text-3xl sm:text-5xl font-extrabold mb-4") Breeder Awards Program
				p(class="text-lg text-gray-600") Through the BAP, we measure our advancement as aquarists as we gain the necessary knowledge and skill to allow the species we keep to reproduce. Our purposes are to encourage more participation among the members of our club, to recognize outstanding achievements, and to share knowledge of breeding techniques.Insights, tutorials, and stories about tech, design, and life.
				.flex.gap-4.p-2
					a.link.font-extrabold(href='https://www.basny.org/Documents/BAP/BAS-BAP-Manual.pdf') Manual
					a.link.font-extrabold(href='https://docs.google.com/spreadsheets/d/1zhYbhFHmpubmx9ATacA14YVte8YeUHjVEBgY0aFrKMs/edit?gid=1900172349#gid=1900172349') Species List

		section.bg-gray-100.py-4
			.flex.flex-col.justify-center.text-center.items-center.gap-2(class="md:flex-row")
				if isAdmin
					+queueButton(approvalsProgram, "Approval Queue", approvalsCount)
					a(href='/admin/members')
						button.primary Manage Members
				if isLoggedIn
					a(href='/submit')
						button.primary New Species Submission
					a(href='/logout')
						button.outline Log Out
				else
					button.primary(
						hx-on:click="document.getElementById('dialog').classList.toggle('hidden', false)"
						hx-get="/dialog/signin"
						hx-target="#dialogContent") Log In

		section.bg-gray-100
			.flex.items-center.justify-center
				.grid.grid-cols-1.gap-4.max-w-2xl.w-full(class="md:grid-cols-2")
					div.max-w-l.mx-auto.text-center.p-4
						h3(class="text-3xl font-bold mb-4") Lifetime Standings
						.flex.gap-4.items-center.justify-center.h-9
							a.link(href='/lifetime/fish') Fish/Inverts
							a.link(href='/lifetime/plant') Plants
							a.link(href='/lifetime/coral') Coral

					div.max-w-l.mx-auto.text-center.p-4
						h3(class="text-3xl font-bold mb-4") Annual Standings
						.flex.gap-4.items-center.justify-center.h-9
							a.link(href='/annual/2025') 2025
							a.link(href='/annual/2024') 2024
							.select-wrapper.max-w-35.inline
								select(hx-get="/annual" hx-trigger="change" name="year")
									option(value="" disabled selected) Past years...
									option(value="2022") 2023
									option(value="2022") 2022
									option(value="2021") 2021
									option(value="2020") 2020
									option(value="2019") 2019
									option(value="2018") 2018
									option(value="2017") 2017
									option(value="2016") 2016

		.hidden.fixed.inset-0.flex.items-center.justify-center.z-50(hx-on:click="document.getElementById('dialog').classList.toggle('hidden', true)")#dialog
			// The modal box
			.w-lg.relative.bg-gray-300.rounded-lg.shadow-lg.p-6(hx-on:click="event.stopPropagation()")
				// Close button absolutely positioned inside the modal
				a.link.absolute.top-2.right-2(hx-on:click="document.getElementById('dialog').classList.toggle('hidden', true)") &times;
				.w-full.flex.flex-col.items-center.gap-2
					#dialogContent
		+footer()
