doctype html
html
  head
    title= title
    script(src='https://unpkg.com/htmx.org@2.0.4')

  body
    h1= message
    a(href='/bap/submit') New Submission

    button(
      hx-get="clicked"
    ) Click Me
