doctype html
html
  head
    title= title
    script(src='https://unpkg.com/htmx.org@2.0.4')
    link(rel='stylesheet', href='/index.css')

  body.flex.justify-center.items-center
    .flex.flex-col.items-center.space-y-4.bg-white.p-6.rounded-lg.shadow-lg
      h2.text-2xl.p2= message
      a.p-4(href='/bap/submit') New BAP Submission
      a.p-4(href='/bap/lifetime') Lifetime Standings
      a.p-4(href='/bap/standings/2022') Annual Standings
