include header.pug

doctype html
html
	+headTag(title)

	body.bg-white.text-gray-800
		+pageHeader(isLoggedIn, "Lifetime Standings")

		section.bg-gray-100.py-4
			div.max-w-4xl.mx-auto.text-center.px-4
				h2(class="text-xl lg:text-4xl font-extrabold mb-4")= title

		section.bg-gray-100
			div.max-w-4xl.mx-auto.text-center.px-4(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3")
				each level in levels
					- const [levelName, members] = level;
					div.p-4
						h2(class="text-xl sm:text-2xl font-bold mb-4")= levelName
						table.data-table.lifetimeStandingsLevel
							tbody.contents
								each member in members
									tr.max-w-lg.contents
										td.text-left
											a.link(href=`/member/${member.id}`)= member.display_name
										td.text-right= member.points

		.w-full.bg-gray-300.p-4.shadow-md
			.container.mx-auto.flex.justify-center.space-x-4
				a.link(href="/lifetime/fish") Breeder
				a.link(href="/lifetime/plant") Horticultural
				a.link(href="/lifetime/coral") Coral
