doctype html
html
	head
		title= title
		script(src='https://unpkg.com/htmx.org@2.0.4')
		script(src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js")
		link(href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css" rel="stylesheet")
		link(rel='stylesheet' href='/index.css')

	body.flex.flex-col.justify-center.items-center
		h2.text-2xl.p-2 New BAP Submission
		include bapForm/form.pug
