include header.pug

doctype html
html

	+headTag(title)
		script(src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js")
		link(rel='stylesheet' href='/tom-select.css')

	body.bg-white.text-gray-800
		+pageHeader("New Species Submission")

		include bapForm/form.pug

		script.
			function initTomSelects() {
				document.querySelectorAll("select.tom-select").forEach((select) => {
					if (select.tomselect) {
						select.tomselect.destroy();
					}

					new TomSelect(select, {
						hideSelected: true,
						create: true,
					});
				});
			}

			document.addEventListener("htmx:load", function () {
				initTomSelects();
			});

			document.addEventListener("DOMContentLoaded", function () {
				initTomSelects();

				document.querySelectorAll("input, textarea, select").forEach((el) => {
					if (el.name && sessionStorage.getItem(el.name) != undefined) {
						if (el.type === "checkbox") {
							el.checked = sessionStorage.getItem(el.name) === "true";
						} else {
							el.value = sessionStorage.getItem(el.name);
						}
					}
				})
			});
