doctype html
html
	head
		title= title
		script(src='https://unpkg.com/htmx.org@2.0.4')
		link(rel='stylesheet', href='/index.css')

	body.flex.justify-center.items-center
		.flex-col.justify-center.text-left.items-center.bg-white.p-6.rounded-lg.shadow-lg

			p TODO implement pretty view

			- const d = JSON.stringify(submission, null, 2);
			pre= d

			if isAdmin
				form(hx-post="/admin/approve")
					input(type="hidden" name="id" value=submission.id)
					label.label-text Points
						.flex.gap-2
							label
								input(type="radio" name="points" value=5)
								| 5
							label
								input(type="radio" name="points" value=10)
								| 10
							label
								input(type="radio" name="points" value=15)
								| 15
							label
								input(type="radio" name="points" value=20)
								| 20

					.flex.gap-2

						button(type="submit") Approve
						button(type="submit" name="reject" value="true") Reject
						button(type="submit" name="delete" value="true") Delete


