include ../mixins/trophy.pug

- const sp = " ";

.text-sm
    a.font-medium.text-gray-900.hover_underline(href=`/member/${activity.member_id}`)= activity.member_name
    if activity.awards
        = sp
        +trophy(activity.awards)
    span.text-gray-600  earned the
    = sp
    if data.award_type === 'specialty'
        span.font-medium.rounded.px-1.bg-yellow-100.text-yellow-800= data.award_name
    else if data.award_type === 'meta'
        span.font-medium.rounded.px-1.bg-purple-100.text-purple-800= data.award_name
    else
        span.font-medium.text-gray-900= data.award_name
    = sp
    span.text-gray-600 award!
