include inputs.pug
.contents#tankDetails
	+bapTextInput("Tank Size", "tank_size", "5g, 20 Long...")
	+bapTextInput("Filter Type", "filter_type", "Sponge, HOB...")
	+bapTextInput("Water Change Volume (%)", "water_change_volume", "10%, 25%...")
	+bapTextInput("Water Change Frequency", "water_change_frequency", "Daily, Weekly, Never...")
	+bapTextInput("Temperature", "temperature", "75F...")
	+bapTextInput("pH", "ph", "6.8...")
	+bapTextInput("Hardness (GH)", "gh", "200ppm, 10dH...")
	+bapTextInput("Specific Gravity", "specific_gravity", "1.025...")
	+bapTextInput("Substrate Type", "substrate_type", "Gravel, Sand, Bare...")
	+bapTextInput("Substrate Depth", "substrate_depth", "2\"...")
	+bapTextInput("Substrate Color", "substrate_color", "Brown, White, Hot Pink...")
